In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [2]:
dframe = DataFrame({'key1':['A']*2+['B']*3,
                   'key2':[2,2,2,3,3]})
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [3]:
dframe.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [4]:
dframe.drop_duplicates()

  key1  key2
0    A     2
2    B     2
3    B     3

In [5]:
dframe.drop_duplicates(['key1'])

  key1  key2
0    A     2
2    B     2

In [6]:
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [10]:
dframe.drop_duplicates(['key1'],take_last=True)

C:\Users\venkataprudhviraj\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead
  if __name__ == '__main__':

  key1  key2
1    A     2
4    B     3