In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [5]:
xlsfile = pd.ExcelFile('Lec_28_test.xlsx')

In [4]:
dframe = xlsfile.parse('Sheet1')
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365