In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [3]:
import pandas.util.testing as tm; tm.N = 3

def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    return DataFrame(data, columns=['date', 'variable', 'value'])

dframe = unpivot(tm.makeTimeDataFrame())

In [4]:
dframe

         date variable     value
0  2000-01-03        A  0.472178
1  2000-01-04        A  1.804960
2  2000-01-05        A  0.600893
3  2000-01-03        B -0.227904
4  2000-01-04        B  0.150391
5  2000-01-05        B -1.480172
6  2000-01-03        C -0.503367
7  2000-01-04        C -0.983129
8  2000-01-05        C -0.279203
9  2000-01-03        D -1.378743
10 2000-01-04        D  0.590934
11 2000-01-05        D -1.527909

In [5]:
dframe_piv = dframe.pivot(index='date',columns='variable',values='value')
dframe_piv

variable           A         B         C         D
date
2000-01-03  0.472178 -0.227904 -0.503367 -1.378743
2000-01-04  1.804960  0.150391 -0.983129  0.590934
2000-01-05  0.600893 -1.480172 -0.279203 -1.527909