In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
np.random.seed(12345)

In [3]:
dframe = DataFrame(np.random.randn(1000,4))

In [4]:
dframe.head()

          0         1         2         3
0 -0.204708  0.478943 -0.519439 -0.555730
1  1.965781  1.393406  0.092908  0.281746
2  0.769023  1.246435  1.007189 -1.296221
3  0.274992  0.228913  1.352917  0.886429
4 -2.001637 -0.371843  1.669025 -0.438570

In [5]:
dframe.tail()

            0         1         2         3
995  1.089085  0.251232 -1.451985  1.653126
996 -0.478509 -0.010663 -1.060881 -1.502870
997 -1.946267  1.013592  0.037333  0.133304
998 -1.293122 -0.322542 -0.782960 -0.303340
999  0.089987  0.292291  1.177706  0.882755

In [7]:
dframe.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067684     0.067924     0.025598    -0.002298
std       0.998035     0.992106     1.006835     0.996794
min      -3.428254    -3.548824    -3.184377    -3.745356
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.366626     2.653656     3.260383     3.927528

In [17]:
col=dframe[0]
col

0     -0.204708
1      1.965781
2      0.769023
3      0.274992
4     -2.001637
5     -0.539741
6     -0.577087
7      0.000940
8     -2.370232
9     -1.265934
10    -2.359419
11    -1.307030
12     0.331286
13    -0.011862
14    -1.549106
15     0.862580
16     0.852965
17    -0.652469
18     0.723642
19    -0.622274
20     0.051316
21     1.010737
22    -0.131578
23    -0.114928
24     0.118110
25    -1.565657
26    -0.482573
27    -0.589488
28     0.929969
29     0.220487
         ...
970    1.140886
971   -1.523554
972    0.097878
973   -0.738296
974   -1.969172
975   -0.813280
976    0.669147
977   -0.042541
978    0.615651
979    0.359400
980   -0.261844
981   -0.136429
982   -0.355393
983   -1.316005
984    0.675317
985   -0.754114
986   -0.105654
987   -0.052736
988   -0.172078
989    0.881601
990   -0.103672
991    0.926782
992   -0.527754
993    0.957144
994    1.221058
995    1.089085
996   -0.478509
997   -1.946267
998   -1.293122
999    0.089987
Name: 0, dtype: float64

In [18]:
col.head()

0   -0.204708
1    1.965781
2    0.769023
3    0.274992
4   -2.001637
Name: 0, dtype: float64

In [29]:
col[np.abs(col)>3]

523   -3.428254
900    3.366626
Name: 0, dtype: float64

In [31]:
dframe[(np.abs(dframe)>3).any(1)]

            0         1         2         3
5   -0.539741  0.476985  3.248944 -1.021228
97  -0.774363  0.552936  0.106061  3.927528
102 -0.655054 -0.565230  3.176873  0.959533
305 -2.315555  0.457246 -0.025907 -3.399312
324  0.050188  1.951312  3.260383  0.963301
400  0.146326  0.508391 -0.196713 -3.745356
499 -0.293333 -0.242459 -3.056990  1.918403
523 -3.428254 -0.296336 -0.439938 -0.867165
586  0.275144  1.179227 -3.184377  1.369891
808 -0.362528 -3.548824  1.553205 -2.186301
900  3.366626 -2.372214  0.851010  1.332846

In [33]:
dframe[np.abs(dframe)>3]=np.sign(dframe)*3

In [35]:
#We can cap values and make sure to remove outliers in the dataset.
dframe.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067623     0.068473     0.025153    -0.002081
std       0.995485     0.990253     1.003977     0.989736
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.000000     2.653656     3.000000     3.000000